@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --default-font:  400 1rem 'Raleway', sans-serif;
    --title-font: 500 2rem 'Raleway', sans-serif;  
    
    --light-blue: #4d97a8;
    --dark-blue: #023d55;
    --black: #171717; 
}

.header-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(130deg, #023555 11%, #024864 32%, #025e73 66%, #fc8637 90%, #f48e50 100%);
    background-size: 400% 400%;
    animation: bgTransition 8s ease-in-out infinite;
}

.navbar {
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.btn-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 10000;
}

.btn-menu .trace {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 30px;
    border-radius: 8px;
    background: #f7f6f6;
    transition: .5s ease-in-out;
}

.trace:nth-child(2) {
    top: 13px;
}

.trace:nth-child(3) {
    top: 26px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background: #e0dfdf;
    
    visibility: hidden;
    overflow: hidden;
    transition: .5s ease-in-out;
    z-index: 1000;
}

#menu li a{
    font: var(--title-font);
    font-size: 1.5rem;
    text-transform: capitalize;
    display: block;
    padding: 10px 20px;
    margin: 20px 0px;
    color: #91918f;
    transition: .3s ease-in
}

#menu li:nth-of-type(1) {
    margin-top: 2.5rem;
}

#menu li a:hover {
    color: var(--dark-blue);
}

.navbar.change-color .btn-menu .trace,
.navbar.open .btn-menu .trace {
    background: var(--dark-blue);
}

.navbar.open .trace:nth-child(1) {
    top: 13px;
    transform: rotate(225deg);
}

.navbar.open .trace:nth-child(2) {
    width: 0px;
}

.navbar.open .trace:nth-child(3) {
    top: 13px;
    transform: rotate(-225deg)
}

.navbar.open #menu {
    visibility: visible;
    overflow: auto;
    width: 100vw;
}

.container-title {
    font: var(--title-font);
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3.5rem;
    text-align: left;
    color: #f7f6f6;
    margin-bottom: 1rem;
}

.container-title h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-align: left;
    color: #f7f6f6;
    margin-bottom: 4rem;
}

.social-media {
    font: var(--title-font);
    color: #f7f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.social-media a {
    width: 210px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1rem 2rem;
    border: 1px solid #f7f6f6;
    color: #f7f6f6;;
    transition: .5s cubic-bezier(.17, .67, .83, .67);
    position: relative;
    z-index: 1;
}

.social-media a::before {
    content: '';
    width: 0;
    height: 100%;
    background: #f7f6f6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s ease-in-out;
}

.social-media a:hover {
    color: var(--dark-blue);
}

.social-media a:hover::before {
    width: 100%;
}

ion-icon {
    font-size: 2rem
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.parallax {
    height: 60vh;
    width: 100%;
    background: url('../img/parallax-img.jpg') no-repeat fixed center;
    background-size: cover;
}

#projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.card-container {
    font: var(--default-font);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 1rem;
}

.card-text {
    width: 40%;
    color: var(--black);
    text-align: justify;
    text-indent: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

.card {
    font: var(--title-font);
    width: 300px;
    height: 450px;
    margin: 3rem 0 0;
    background: url('../img/cup.jpg') no-repeat center;
    background-size: cover;
    filter: grayscale(.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: .3s ease;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: .5rem;
}

.card-wrapper h1 {
    letter-spacing: 2px;
    margin: 0;
    font-weight: 400;
    transition: .3s;
}

.card-wrapper p{
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0;
    transition: .3s ease-in-out;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 0px;
    display: block;
    border: 1px solid #f7f6f6;
    opacity: 0;
    transition: .3s ease-in-out;
}

.card:hover .card-wrapper::before{
    height: 250px;
    width: 200px;
    opacity: 1;
}

.card:hover .card-wrapper p{
    opacity: 1;
}

.card:hover {
    filter: unset;
}

#about {
    margin-top: 4rem;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img{
    width: 100%;
}

#about .card-text{
   font-weight: 500;
}

[data-anime] {
    opacity: 0;
    transition: .3s ease-in;
}

[data-anime='left'] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime='right'] {
    transform: translate3d(50px, 0, 0);
}

[data-anime='left'].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

[data-anime='right'].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

footer {
    height: 50px;
    width: 100%;
    font: var(--title-font);
    font-size: 1rem;
    background: var(--dark-blue);
    color: #f7f6f6;
    display: grid;
    place-items: center;
}

@keyframes bgTransition {
    0%{
     background-position: 0% 80%;   
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}

@media (max-width: 650px ) {
    #projects {
        gap: 2rem;
    }
    .card-container {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .card-container:nth-child(2) {
        flex-direction: column;
    }
    .card-text {
        width: 100%;
    }
    .card{
        height: 300px;
    }

}